{% extends 'base.html' %}

{% block main %}
    <h1> All Students </h1>
    <table class="table">
        <tr> <th> ID</th> <th> Name </th>
            <th> Image</th> <td>Show</td> <td>Delete</td>
        </tr>

        {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td> {{student.name}}</td>
                <td> <img src="{{student.image_url}}" width="100" height="100"> </td>
                <td> <a href="{{student.show_url}}" class="btn btn-info">Show </a> </td>
                <td> <a href="{{student.delete_url}}" class="btn btn-danger">Delete </a> </td>
            </tr>

        {% endfor %}

    </table>


{% endblock %}